
body{
    margin: auto 0;
    background-color: chocolate;
}
.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .display {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.num_btn {
    display: grid;
    grid-template-rows: repeat(auto-fill);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.num_btn .ls {
    color: rgb(120, 163, 139);
    font-size: xx-large;
}

input {
    padding: 25px;
    color: rgb(87, 87, 87);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: #dbdbd9;
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
  }
  
input[type="button"] {
    color: rgb(122, 122, 122);
    font-size: large;
    justify-content: center;
  }

input[type="text"]{
    background-color: #ffffff0c;
    width: 150px;
    border-radius: 10px;
    text-align: right;

}
  
 
  input[type="button"]:hover {
    background-color: rgb(37, 35, 59);
    color: #fff;
  }

  .theme-button {
    all: unset;
    cursor: pointer;
    color: chocolate;
    margin: 10px;
  }

